@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

@font-face {
  font-family: "NeonSans";
  src: url("fonts/NeonSans.ttf") format("truetype");
}

@font-face {
  font-family: "Neonblitz";
  src: url("fonts/Neonblitz.ttf") format("truetype");
}

@font-face {
  font-family: "Street";
  src: url("fonts/street\ cred.otf") format("truetype");
}

@font-face {
  font-family: "VintageTimes";
  src: url("fonts/VintageTimes.ttf") format("truetype");
}

@font-face {
  font-family: "NeonLedLight";
  src: url("fonts/NEONLEDLight.otf") format("truetype");
}

@font-face {
  font-family: "Retrolight";
  src: url("fonts/Retrolight.ttf") format("truetype");
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

h1 {
  font-size: 56px;
  color: #fff !important;
  /* font-family: "NeonSans"; */
  /* font-family: "Neonblitz"; */
  /* font-family: "Street"; */
  /* font-family: "VintageTimes"; */
  /* font-family: "Retrolight"; */
  font-family: "NeonLedLight";
  text-align: center;
  margin: 0;
  line-height: 45px;
}

h3 {
  font-size: 36px;
  color: #fff;
  font-family: "NeonLedLight";
  text-align: center;
  margin-top: 0px;
}

p {
  text-align: justify;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #5f5f5f;
}

body {
  font-family: "Open Sans";
  font-weight: 300;
  color: #5f5f5f;
  background-color: #1f2937;
}

/* ----------------------
---------- HEADER --------
------------------------ */
header {
  line-height: 0px;
  font-size: 0px;
}

/* --- Game Name --- */
.game_name {
  width: 100%;
  height: 110px;
  /* border: 1px solid red; */
  line-height: 0px;
}

.game_name .container {
  height: 100%;
  display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* --- Fin Game Name --- */

/* ----------------------
--------- MAIN ----------
------------------------ */
main {
  height: calc(100vh - 110px);
}

.board_complete,
.board_complete .container,
.board_complete .row {
  height: 100%;
}

/* -- row -- */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row-eq-height.container:before,
.row-eq-height.container:after,
.row-eq-height.row:before,
.row-eq-height.row:after {
  content: normal;
}
/* -- fin row -- */

/*  --- Labyrinth ---
#labyrinth {
  width: 430px; 
  height: 430px; 
  border: 1px solid red; 
}*/

.arraybox {
  width: 100%;
  height: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.wall {
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.path {
  width: 20px;
  height: 20px;
  background-color: #1f2937;
}

/*------------------------------*/
/* .key {
  width: 20px;
  height: 20px;
  background-color: #ff3390;
} */

.key {
  width: 20px;
  height: 20px;
  background-image: url(images/key.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 0px;
}

.door {
  width: 20px;
  height: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: red;
}
/*------------------------------*/

.exit {
  width: 20px;
  height: 20px;
  /* background-color: #1f2937; */
  /* border: 1px solid red; */
  background-image: url(images/estrella.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 0px;
}

/* .spawn {
  width: 10px;
  height: 10px;
  background-color: #38e0d5;
  margin: 5px;
} */

.player {
  width: 10px;
  height: 10px;
  background-color: #38e0d5;
  margin: 5px;
}
/*  --- Fin Labyrinth --- */

/* --- Information --- 
.information {
  border: 1px solid blue;
}*/

/* --- record-score --- */
.record-score{
  background-color: rgba(135, 147, 255, 0.2);
  padding: 20px 0px;
  margin-bottom: 30px;
}

.record-score .centrado{
  width: 100%;
}

.trofeo img{
  height: 40px;
  margin-right: 5px;
}

.puntuacion{
  color: #fff;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

/* --- fin record-score --- */

/* --- time-score --- */
.time-score{
  background-color: rgba(135, 147, 255, 0.2);
  padding: 20px 0px;
  margin-bottom: 30px;
}

.time-score .centrado{
  width: 100%;
  position: relative;
  left: 15px;
}


.score {
  /* background-color: #ffffff36; */
  height: 60px;
  width: 135px;
  border-radius: 40px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  position: relative;
  left: -31px;
  z-index: -1;
  border: 1px solid #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.score p{
  color: #fff;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
}

/* --- fin time-score --- */

/* --- controls --- */
.controls{
  background-color: rgba(135, 147, 255, 0.2);
  padding: 20px 0px;
}

.caja_control {
  width: 100%;
}

.botonera {
  width: 60px;
  height: 60px;
  background-color: #fff;
}
/* --- fin controls --- */

/* --- Fin Information --- */

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 50px;
  width: 50px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: 4px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  /* transform: translateY(-2px); */
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  /* transform: translateY(2px); */
}

.button-30.arriba .fa {
  transform: rotate(-90deg);
}

.button-30.abajo .fa {
  transform: rotate(90deg);
}

.button-30 p {
  color: #1f2937;
  font-size: 20px;
  font-weight: 700;
  margin: 0px;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}

.button-30 .fa {
  position: absolute;
  color: #1f2937;
  opacity: 0;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}

.button-30:hover p {
  opacity: 0;
}

.button-30:hover .fa {
  opacity: 1;
}

/* - -- - -- - -- - -- - -- 
-- - Estilo temporizador - --
- -- - -- - -- - -- - -- - */
.base-timer {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #4d4999;
  border-radius: 50%;
  /* overflow: hidden; */
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
  color: rgb(56 224 213);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
    color: #fff;
    font-weight: 600;
}

/* - -- - -- - -- - -- - -- 
-- - Fin Estilo temporizador - --
- -- - -- - -- - -- - -- - */

/* - -- - -- - -- - -- - -- 
-- - Estilo botones - --
- -- - -- - -- - -- - -- - */
/* Original */
.boton .btn {
  width: 200px;
  height: 50px;
  border: 0px solid #004a9d;
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 400;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 24px;
  background: #ff3390;
}

/*
.boton.color_blanco {
text-align: center;
}

.boton.color_blanco .btn{
color: #fff;
border: 1px solid #fff;
}
*/

/* Botón Banner */
.banner .boton {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.zona_destacada .boton {
  text-align: center;
}

/* Botón Menú */
.navbar .boton {
  margin-left: 34px;
  position: relative;
  /* z-index: 30; */
  float: right;
  height: 114px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.barra_reducida .navbar .boton {
  height: 104px;
}

.boton .btn img {
  height: 35px;
  margin-right: 12px;
}

.barra_reducida .boton .btn img {
  height: 30px;
  margin-right: 12px;
}

.boton.boton_menu .btn {
  width: 282px;
  height: 62px;
  color: #fff;
  background: #ff5837;
  border: 0;
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 20px;
  white-space: normal;
  text-align: left;
}

.barra_reducida .boton.boton_menu .btn {
  width: 270px;
  height: 57px;
  font-size: 13px;
}

/* Botón Parallax */
.zona_destacado .boton.boton_menu .btn {
  width: 405px;
  height: 48px;
}

.zona_destacado .boton .btn img {
  height: 25px;
}

/* Efecto del botón - Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0296d1;
  border-radius: 24px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.boton.boton_menu .hvr-shutter-out-horizontal:before {
  border-radius: 20px;
  background: #004a9d;
}

.zona_destacado .boton.boton_menu .hvr-shutter-out-horizontal:before {
  background: #5780bc;
}

.boton.color_blanco .hvr-shutter-out-horizontal:before {
  background: #fff;
}

/*
.banner .boton .hvr-shutter-out-horizontal:before {
background: #fff;
}
*/

.hvr-shutter-out-horizontal:hover,
.hvr-shutter-out-horizontal:focus,
.hvr-shutter-out-horizontal:active {
  color: #fff;
}

/*
.banner .boton .hvr-shutter-out-horizontal:hover,
.boton.color_blanco .hvr-shutter-out-horizontal:hover,
.banner .boton .hvr-shutter-out-horizontal:focus, 
.boton.color_blanco .hvr-shutter-out-horizontal:focus, 
.banner .boton .hvr-shutter-out-horizontal:active,
.boton.color_blanco .hvr-shutter-out-horizontal:active {
color: #004a9d;
}
*/

.hvr-shutter-out-horizontal:hover:before,
.hvr-shutter-out-horizontal:focus:before,
.hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* - -- - -- - -- - -- - -- 
-- - Fin Estilo botones - --
- -- - -- - -- - -- - -- - */

/* -- circulos -- */
.wrapper-flex,
.wrapper-flex-mobile {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-box; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;

  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.separa-5 {
  height: 5px;
}

.separa-10 {
  height: 10px;
}

.separa-20 {
  height: 20px;
}

.separa-40 {
  height: 40px;
}

.separa-30 {
  height: 30px;
}

.separa-50 {
  height: 50px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.centrado {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.centrado.izquierda {
  justify-content: flex-start;
}

.centrado.derecha {
  justify-content: flex-end;
}

.animacion {
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

.limitar_3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.caja {
  overflow: hidden;
}

/* --- --- --- 
    --- HEADER ---
    --- --- --- ---*/
/* -- -- -- -- -- -- -- Menú -- -- -- -- -- -- -- */

/* -- -- -- Section banner -- -- -- */
#banner-slider ul {
  padding: 0;
  margin: 0;
}

.superpuesto {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 940px;
  z-index: 1;
}

.superpuesto .container {
  height: 100%;
}

.banner {
  width: 100%;
  height: 940px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 940px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* - -- texto banner -- -*/
.texto_banner {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.texto_banner > div {
  width: 620px;
}

.texto_banner p {
  color: #000;
  font-size: 28px;
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  font-weight: 200;
  line-height: 28px;
  margin-bottom: 0px;
}

.texto_banner p.enunciado {
  color: #000;
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-weight: 900;
  line-height: 80px;
  margin-bottom: 0px;
}

.texto_banner .boton .btn:hover,
.texto_banner .boton .btn:focus,
.texto_banner .boton .btn:active {
  color: #000;
}

.caja_descarga {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.descarga .btn {
  padding: 6px 12px;
  color: #81619f;
  font-size: 16px;
  margin-bottom: 0px;
  font-family: "Josefin Sans", sans-serif;
  width: 212px;
  height: 60px;
  border: 2px solid #8465a1;
  border-radius: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.descarga.dos .btn {
  width: 238px;
  background-color: #81619f;
  color: #fff;
}

.descarga.uno .btn {
  margin-right: 20px;
}

.descarga img {
  height: 36px;
  padding-right: 14px;
  transition: all 0.2s ease;
}

.descarga:hover .btn {
  transform: translateY(-10px);
}

.descarga.uno:hover .btn {
  color: #fff;
  background-color: #81619f;
}

.descarga.dos:hover .btn {
  color: #81619f;
  background-color: #e8d6fb;
}

/* - -- fin texto banner -- -*/

/* - -- estilo de las flechas -- -*/
.splide__slide img {
  vertical-align: bottom;
  height: 250px;
}

.splide__arrows {
  position: absolute;
  top: calc(50%);
  right: 0px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  /*    border: 1px solid red;*/
  z-index: 2;
  width: 100%;
}

.splide__arrow--prev {
  left: 0;
}

.splide__arrow--next {
  right: 0;
}

.splide__arrow {
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
  border-radius: 0px;
  border: none;
  padding: 0;
  height: 50px;
  width: 50px;
  margin: 0px 13px;
  position: relative;
  background-color: rgb(255 255 255);
  top: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* left: -25px; */
}

.crece_svg svg {
  height: 26px;
  width: 26px;
  fill: red;
}
/* - -- estilo de las flechas -- -*/

/* -- -- -- fin Section banner -- -- -- */

.saber_mas .boton .btn {
  height: auto;
  width: 100%;
  font-size: 16px;
  white-space: initial;
  text-align: center;
  padding: 15px;
}

/*-- manto movil --*/
#manto-movil {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;
}

#manto-movil.toogled {
  z-index: 30;
}
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
-- --  -- -- -- -- -- -- -- Responsive  -- -- -- -- -- -- -- -- -- -- -- -- 
-- --  -- -- -- -- -- -- -- -- -- -- --  -- -- -- -- -- -- -- -- -- -- --*/
